# Set the correct language flag in GitHub
*.rs linguist-language=Rust
# gosh i'm even more of an idiot
# am loing my mind with Linguist detecting SQL
sql/**/*.sql linguist-detectable=true 
sql/**/*.sql linguist-language=SQL 

# Set the default behavior for all files.
* text=auto eol=lf

# Normalized and converts to native line endings on checkout.
*.c text
*.cc text
*.cxx
*.cpp text
*.h text
*.hxx text
*.hpp text